In [1]:
import pandas as pd
import matplotlib.pyplot as plt  # Importing pyplot submodule with alias plt

In [2]:
def find_duplicate_records(df):
    # Check for duplicate records
    duplicate_rows = df[df.duplicated()]

    if not duplicate_rows.empty:
        print("Duplicate records found:")
        print(duplicate_rows)
    else:
        print("No duplicate records found.")

Company Data Preprocessing

In [3]:
com=pd.read_csv(r"C:\Users\Mugun\Desktop\ECI\Company.csv")

In [4]:
print("No.of Company records : ",len(com))

No.of Company records :  18871

In [5]:
com.columns

Index(['Sr No.', 'Reference No  (URN)', 'Journal Date', 'Date of  Purchase',
       'Date of Expiry', 'Name of the Purchaser', 'Prefix', 'Bond Number',
       'Denominations', 'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [6]:
com.head(2)

,Sr No.,Reference No (URN),Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Prefix,Bond Number,Denominations,Issue Branch Code,Issue Teller,Status
0,1,1201900000000000000,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid
1,2,1201900000000000000,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid

In [7]:
com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18871 entries, 0 to 18870
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr No.                 18871 non-null  int64
 1   Reference No  (URN)    18871 non-null  object
 2   Journal Date           18871 non-null  object
 3   Date of  Purchase      18871 non-null  object
 4   Date of Expiry         18871 non-null  object
 5   Name of the Purchaser  18871 non-null  object
 6   Prefix                 18871 non-null  object
 7   Bond Number            18871 non-null  int64
 8   Denominations          18871 non-null  int64
 9   Issue Branch Code      18871 non-null  int64
 10  Issue Teller           18871 non-null  int64
 11  Status                 18871 non-null  object
dtypes: int64(5), object(7)
memory usage: 1.7+ MB

In [8]:
com['Prefix_Bond_Number'] = com['Prefix'] + '_' + com['Bond Number'].astype(str)

In [9]:
com.drop(['Prefix', 'Bond Number','Status','Sr No.', 'Reference No  (URN)'], axis=1, inplace=True)

In [10]:
com.columns

Index(['Journal Date', 'Date of  Purchase', 'Date of Expiry',
       'Name of the Purchaser', 'Denominations', 'Issue Branch Code',
       'Issue Teller', 'Prefix_Bond_Number'],
      dtype='object')

In [11]:
com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18871 entries, 0 to 18870
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Journal Date           18871 non-null  object
 1   Date of  Purchase      18871 non-null  object
 2   Date of Expiry         18871 non-null  object
 3   Name of the Purchaser  18871 non-null  object
 4   Denominations          18871 non-null  int64
 5   Issue Branch Code      18871 non-null  int64
 6   Issue Teller           18871 non-null  int64
 7   Prefix_Bond_Number     18871 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.2+ MB

In [12]:
com.head(2)

,Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Denominations,Issue Branch Code,Issue Teller,Prefix_Bond_Number
0,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,1000000,1,5899230,TL_11448
1,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,1000000,1,5899230,TL_11447

In [13]:
com.columns[com.isnull().any()]

Index([], dtype='object')

In [14]:
# Call the function with your DataFrame
find_duplicate_records(com)

No duplicate records found.

In [15]:
grouped_df = com.groupby(['Name of the Purchaser'])['Denominations'].sum().reset_index()
grouped_df_sorted = grouped_df.sort_values(by='Denominations', ascending=False)
print(grouped_df_sorted[:30])

                                 Name of the Purchaser  Denominations
356                FUTURE GAMING AND HOTEL SERVICES PR    12080000000
654     MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED     8210000000
868                      QWIKSUPPLYCHAINPRIVATELIMITED     4100000000
419                              HALDIA ENERGY LIMITED     3770000000
1252                                   VEDANTA LIMITED     3756500000
336                          ESSEL MINING AND INDS LTD     2245000000
1303    WESTERN UP POWER TRANSMISSION COMPANY LI MITED     2200000000
558                    KEVENTER FOODPARK INFRA LIMITED     1950000000
621                                      MADANLAL LTD.     1855000000
176                              BHARTI AIRTEL LIMITED     1830000000
1310                 YASHODA SUPER SPECIALITY HOSPITAL     1620000000
1225               UTKAL ALUMINA INTERNATIONAL LIMITED     1353000000
315                  DLF COMMERCIAL DEVELOPERS LIMITED     1300000000
667                            MKJ ENTERPRISES LIMITED     1283500000
518                     JINDAL STEEL AND POWER LIMITED     1230000000
142        B G SHIRKE CONSTRUCTION TECHNOLOGY PVT L TD     1170000000
295                    DHARIWAL INFRASTRUCTURE LIMITED     1150000000
193                     BIRLACARBONINDIAPRIVATELIMITED     1050000000
238                CHENNAI GREEN WOODS PRIVATE LIMITED     1050000000
967                                  RUNGTA SONS P LTD     1000000000
357   FUTURE GAMING AND HOTEL SERVICES PRIVATE LIMITED      950000000
463                        IFB AGRO INDUSTRIES LIMITED      923000000
1196                           TORRENT  POWER  LIMITED      865000000
134                      AVEES TRADING FINANCE PVT LTD      855000000
322                        DR.REDDY'S LABORATORIES LTD      800000000
830                PRARAMBH SECURITIES PVT LTDPROPRIET      780000000
653        MEGHA ENGINEERING & INFRASTRUCTURES LIMITED      750000000
655          MEGHA ENGINEERING AND INFRASTRUCTURES LTD      700000000
358           FUTURE GAMING AND HOTEL SERVICES PVT LTD      650000000
668                                MKJ ENTERPRISES LTD      640700000

Party Data Preprocessing

In [16]:
pat=pd.read_csv(r"C:\Users\Mugun\Desktop\ECI\Party.csv")

In [17]:
print("No.of Party records : ",len(pat))

No.of Party records :  20421

In [18]:
pat.columns

Index(['Sr No.', 'Date of Encashment', 'Name of the Political Party',
       'Account no. of Political Party', 'Prefix', 'Bond Number',
       'Denominations', 'Pay Branch Code', 'Pay Teller'],
      dtype='object')

In [19]:
pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20421 entries, 0 to 20420
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sr No.                          20421 non-null  int64
 1   Date of Encashment              20421 non-null  object
 2   Name of the Political Party     20421 non-null  object
 3   Account no. of Political Party  20421 non-null  object
 4   Prefix                          20421 non-null  object
 5   Bond Number                     20421 non-null  int64
 6   Denominations                   20421 non-null  int64
 7   Pay Branch Code                 20421 non-null  int64
 8   Pay Teller                      20421 non-null  int64
dtypes: int64(5), object(4)
memory usage: 1.4+ MB

In [20]:
pat.head(2)

,Sr No.,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,1,12-04-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,12-04-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121

In [21]:
pat['Prefix_Bond_Number'] = pat['Prefix'] + '_' + pat['Bond Number'].astype(str)

In [22]:
grouped_df = pat.groupby(['Name of the Political Party'])['Denominations'].sum().reset_index()
grouped_df_sorted = grouped_df.sort_values(by='Denominations', ascending=False)
print(grouped_df_sorted)

                          Name of the Political Party  Denominations
5                              BHARATIYA JANATA PARTY    60605111000
3                        ALL INDIA TRINAMOOL CONGRESS    16095314000
16            PRESIDENT, ALL INDIA CONGRESS COMMITTEE    14218655000
4                              BHARAT RASHTRA SAMITHI    12147099000
7                                     BIJU JANATA DAL     7755000000
8                     DRAVIDA MUNNETRA KAZHAGAM (DMK)     6390000000
23  YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...     3370000000
22                                 TELUGU DESAM PARTY     2188800000
19                                           SHIVSENA     1593814000
17                                RASHTRIYA JANTA DAL      735000000
0                                     AAM AADMI PARTY      654500000
12                             JANATA DAL ( SECULAR )      435000000
21                           SIKKIM KRANTIKARI MORCHA      365000000
15     NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH      310000000
11                                     JANASENA PARTY      210000000
1                            ADYAKSHA SAMAJVADI PARTY      140500000
6                     BIHAR PRADESH JANTA DAL(UNITED)      140000000
13                             JHARKHAND MUKTI MORCHA      135000000
18                                SHIROMANI AKALI DAL       72600000
2            ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM       60500000
20                            SIKKIM DEMOCRATIC FRONT       55000000
14                      MAHARASHTRAWADI GOMNTAK PARTY        5500000
10              JAMMU AND KASHMIR NATIONAL CONFERENCE        5000000
9                                   GOA FORWARD PARTY        3500000

In [23]:
pat.drop(['Prefix', 'Bond Number','Sr No.','Account no. of Political Party','Denominations'], axis=1, inplace=True)

In [24]:
pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20421 entries, 0 to 20420
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date of Encashment           20421 non-null  object
 1   Name of the Political Party  20421 non-null  object
 2   Pay Branch Code              20421 non-null  int64
 3   Pay Teller                   20421 non-null  int64
 4   Prefix_Bond_Number           20421 non-null  object
dtypes: int64(2), object(3)
memory usage: 797.8+ KB

In [25]:
pat.head(2)

,Date of Encashment,Name of the Political Party,Pay Branch Code,Pay Teller,Prefix_Bond_Number
0,12-04-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,800,2770121,OC_775
1,12-04-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,800,2770121,OC_3975

In [26]:
pat.columns[pat.isnull().any()]

Index([], dtype='object')

In [27]:
#pat[pat.duplicated()]
# Call the function with your DataFrame
find_duplicate_records(pat)

No duplicate records found.

Merging Two dataframe

In [28]:
merged_df = pd.merge(com, pat, on='Prefix_Bond_Number', how='inner')
merged_df.head(2)

,Journal Date,Date of Purchase,Date of Expiry,Name of the Purchaser,Denominations,Issue Branch Code,Issue Teller,Prefix_Bond_Number,Date of Encashment,Name of the Political Party,Pay Branch Code,Pay Teller
0,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,1000000,1,5899230,TL_11448,25-04-2019,BHARATIYA JANATA PARTY,691,3300196
1,12-04-2019,12-04-2019,26-04-2019,A B C INDIA LIMITED,1000000,1,5899230,TL_11447,25-04-2019,BHARATIYA JANATA PARTY,691,3300196

In [29]:
print("No.of Company records : ",len(com))
print("No.of Party records : ",len(pat))
print("No.of Merged data records : ",len(merged_df))

No.of Company records :  18871
No.of Party records :  20421
No.of Merged data records :  18741

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18741 entries, 0 to 18740
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Journal Date                 18741 non-null  object
 1   Date of  Purchase            18741 non-null  object
 2   Date of Expiry               18741 non-null  object
 3   Name of the Purchaser        18741 non-null  object
 4   Denominations                18741 non-null  int64
 5   Issue Branch Code            18741 non-null  int64
 6   Issue Teller                 18741 non-null  int64
 7   Prefix_Bond_Number           18741 non-null  object
 8   Date of Encashment           18741 non-null  object
 9   Name of the Political Party  18741 non-null  object
 10  Pay Branch Code              18741 non-null  int64
 11  Pay Teller                   18741 non-null  int64
dtypes: int64(5), object(7)
memory usage: 1.7+ MB

In [31]:
merged_df=merged_df[['Prefix_Bond_Number','Date of  Purchase','Name of the Purchaser','Issue Branch Code','Date of Encashment','Name of the Political Party','Pay Branch Code','Denominations']]

In [32]:
merged_df.tail(5)

,Prefix_Bond_Number,Date of Purchase,Name of the Purchaser,Issue Branch Code,Date of Encashment,Name of the Political Party,Pay Branch Code,Denominations
18736,OC_15695,11-01-2024,WESTWELL GASES PRIVATE LIMITED,1,23-01-2024,DRAVIDA MUNNETRA KAZHAGAM (DMK),800,10000000
18737,OC_15693,11-01-2024,WESTWELL GASES PRIVATE LIMITED,1,23-01-2024,DRAVIDA MUNNETRA KAZHAGAM (DMK),800,10000000
18738,OC_15697,11-01-2024,WESTWELL GASES PRIVATE LIMITED,1,23-01-2024,DRAVIDA MUNNETRA KAZHAGAM (DMK),800,10000000
18739,OC_17803,11-01-2024,WESTWELL GASES PRIVATE LIMITED,1,23-01-2024,DRAVIDA MUNNETRA KAZHAGAM (DMK),800,10000000
18740,OC_15691,11-01-2024,WESTWELL GASES PRIVATE LIMITED,1,23-01-2024,DRAVIDA MUNNETRA KAZHAGAM (DMK),800,10000000

In [33]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18741 entries, 0 to 18740
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Prefix_Bond_Number           18741 non-null  object
 1   Date of  Purchase            18741 non-null  object
 2   Name of the Purchaser        18741 non-null  object
 3   Issue Branch Code            18741 non-null  int64
 4   Date of Encashment           18741 non-null  object
 5   Name of the Political Party  18741 non-null  object
 6   Pay Branch Code              18741 non-null  int64
 7   Denominations                18741 non-null  int64
dtypes: int64(3), object(5)
memory usage: 1.1+ MB

In [34]:
# Merge the DataFrames with an indicator
merged_with_indicator = pd.merge(com, pat, on='Prefix_Bond_Number', how='outer', indicator=True)
# Filter rows that are only present in Party.csv
party_only_rows = merged_with_indicator[merged_with_indicator['_merge'] == 'right_only']
print("No.of records present in only Party dataset : ",len(party_only_rows))

No.of records present in only Party dataset :  1680

In [35]:
# Merge the DataFrames with an indicator
merged_with_indicator = pd.merge(com, pat, on='Prefix_Bond_Number', how='left', indicator=True)
# Filter rows that are only present in Company.csv
company_only_rows = merged_with_indicator[merged_with_indicator['_merge'] == 'left_only']
print("No.of records present in only Company dataset : ",len(company_only_rows))

No.of records present in only Company dataset :  130

In [36]:
# Merge the DataFrames with an indicator
merged_with_indicator = pd.merge(com, pat, on='Prefix_Bond_Number', how='inner', indicator=True)
# Count the number of rows common in both DataFrames
common_rows_count = (merged_with_indicator['_merge'] == 'both')
print("No.of records common in both : ",len(common_rows_count))

No.of records common in both :  18741

In [37]:
print("No.of Company records : ",len(com))
print("No.of records present in only Company dataset not in party dataset : ",len(company_only_rows))
print("No.of Party records : ",len(pat))
print("No.of records present in only Party dataset not in company dataset : ",len(party_only_rows))
print("No.of records common in both : ",len(common_rows_count))

No.of Company records :  18871
No.of records present in only Company dataset not in party dataset :  130
No.of Party records :  20421
No.of records present in only Party dataset not in company dataset :  1680
No.of records common in both :  18741

In [38]:
print("In merged data :-")
print("No.of data records : ",len(merged_df))
print('No.of distinct Companies : ',len(merged_df['Name of the Purchaser'].unique()))
print('No.of distinct Parties : ',len(merged_df['Name of the Political Party'].unique()))

In merged data :-
No.of data records :  18741
No.of distinct Companies :  1297
No.of distinct Parties :  23

In [39]:
grouped_df = merged_df.groupby(['Name of the Political Party'])['Denominations'].sum().reset_index()
grouped_df_sorted = grouped_df.sort_values(by='Denominations', ascending=False)
print(grouped_df_sorted)

                          Name of the Political Party  Denominations
4                              BHARATIYA JANATA PARTY    55942011000
2                        ALL INDIA TRINAMOOL CONGRESS    15925214000
15            PRESIDENT, ALL INDIA CONGRESS COMMITTEE    13510945000
3                              BHARAT RASHTRA SAMITHI    11911599000
6                                     BIJU JANATA DAL     7755000000
7                     DRAVIDA MUNNETRA KAZHAGAM (DMK)     6320000000
22  YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...     3287500000
21                                 TELUGU DESAM PARTY     2115800000
18                                           SHIVSENA     1524514000
16                                RASHTRIYA JANTA DAL      725000000
0                                     AAM AADMI PARTY      652500000
11                             JANATA DAL ( SECULAR )      410000000
20                           SIKKIM KRANTIKARI MORCHA      365000000
14     NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH      285000000
10                                     JANASENA PARTY      210000000
1                            ADYAKSHA SAMAJVADI PARTY      132100000
12                             JHARKHAND MUKTI MORCHA      125000000
5                     BIHAR PRADESH JANTA DAL(UNITED)      120000000
17                                SHIROMANI AKALI DAL       72600000
19                            SIKKIM DEMOCRATIC FRONT       55000000
13                      MAHARASHTRAWADI GOMNTAK PARTY        5500000
9               JAMMU AND KASHMIR NATIONAL CONFERENCE        5000000
8                                   GOA FORWARD PARTY        3500000

In [40]:
grouped_df = merged_df.groupby(['Name of the Purchaser', 'Name of the Political Party'])['Denominations'].sum().reset_index()
grouped_df_sorted = grouped_df.sort_values(by='Denominations', ascending=False)
print(grouped_df)

                   Name of the Purchaser  \
0                      14 REELS PLUS LLP
1                    A B C INDIA LIMITED
2                       AAKANKSHA BAHETY
3                   AALAYA CONSTRUCTIONS
4     AARISH SOLAR POWER PRIVATE LIMITED
...                                  ...
1653        ZUVAN ENERGY PRIVATE LIMITED
1654                ZUVAN ENERGY PVT LTD
1655            ZYDUS HEALTHCARE LIMITED
1656            ZYDUS HEALTHCARE LIMITED
1657            ZYDUS HEALTHCARE LIMITED

                            Name of the Political Party  Denominations
0                                BHARAT RASHTRA SAMITHI       10000000
1                                BHARATIYA JANATA PARTY        4000000
2               PRESIDENT, ALL INDIA CONGRESS COMMITTEE        1000000
3                                BHARAT RASHTRA SAMITHI       10000000
4     YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...       20000000
...                                                 ...            ...
1653  YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...       10000000
1654                             BHARAT RASHTRA SAMITHI       20000000
1655                             BHARATIYA JANATA PARTY      180000000
1656            PRESIDENT, ALL INDIA CONGRESS COMMITTEE       30000000
1657                           SIKKIM KRANTIKARI MORCHA       80000000

[1658 rows x 3 columns]

In [41]:
grouped_df = merged_df.groupby(['Issue Branch Code'])['Denominations'].sum().reset_index()
grouped_df_sorted = grouped_df.sort_values(by='Denominations', ascending=False)
print(grouped_df_sorted)

    Issue Branch Code  Denominations
14                847    29189070000
6                 300    27168180000
0                   1    24311118000
11                691    16827700000
12                800    13371501000
18               1355     4606213000
13                813     1442800000
1                  41     1357500000
10                656     1022100000
3                 125      542100000
9                 628      518100000
8                 509      282000000
15                941      262000000
17               1308      182400000
7                 461      147501000
2                  78      101500000
16                952       69000000
5                 167       50000000
4                 152        8000000

In [42]:
# Assuming 'Date of Purchase' column is already in datetime format, if not, convert it:
merged_df['Date of  Purchase'] = pd.to_datetime(merged_df['Date of  Purchase'], format="%d-%m-%Y")

# Calculate the date range for the last 1 year
one_year_ago = pd.Timestamp.now() - pd.DateOffset(years=1)

# Filter the DataFrame for the last 1 year of purchases
last_year_purchases = merged_df[merged_df['Date of  Purchase'] >= one_year_ago]

print(len(last_year_purchases))

6808

In [46]:
# Grouping the DataFrame by 'Name of the Political Party'
grouped_by_party = merged_df.groupby('Name of the Political Party')

# Calculate the number of unique companies and the total denomination for each party
party_summary = grouped_by_party.agg(num_companies=('Name of the Purchaser', 'nunique'),
                                     total_denomination=('Denominations', 'sum'))

# Sort the result by the total denomination in descending order
party_summary_sorted = party_summary.sort_values(by='total_denomination', ascending=False)

# Print the result
print("No. of Parties and Companies they got investment from, and Total Denomination in Descending Order:")
print(party_summary_sorted)

No. of Parties and Companies they got investment from, and Total Denomination in Descending Order:
                                                    num_companies  \
Name of the Political Party
BHARATIYA JANATA PARTY                                        523
ALL INDIA TRINAMOOL CONGRESS                                  227
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                       351
BHARAT RASHTRA SAMITHI                                        233
BIJU JANATA DAL                                                47
DRAVIDA MUNNETRA KAZHAGAM (DMK)                                15
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CO...             52
TELUGU DESAM PARTY                                             37
SHIVSENA                                                       35
RASHTRIYA JANTA DAL                                            24
AAM AADMI PARTY                                                55
JANATA DAL ( SECULAR )                                          8
SIKKIM KRANTIKARI MORCHA                                        6
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH                 13
JANASENA PARTY                                                  5
ADYAKSHA SAMAJVADI PARTY                                        3
JHARKHAND MUKTI MORCHA                                          7
BIHAR PRADESH JANTA DAL(UNITED)                                 3
SHIROMANI AKALI DAL                                             7
SIKKIM DEMOCRATIC FRONT                                         2
MAHARASHTRAWADI GOMNTAK PARTY                                   2
JAMMU AND KASHMIR NATIONAL CONFERENCE                           1
GOA FORWARD PARTY                                               2

                                                    total_denomination
Name of the Political Party
BHARATIYA JANATA PARTY                                     55942011000
ALL INDIA TRINAMOOL CONGRESS                               15925214000
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                    13510945000
BHARAT RASHTRA SAMITHI                                     11911599000
BIJU JANATA DAL                                             7755000000
DRAVIDA MUNNETRA KAZHAGAM (DMK)                             6320000000
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CO...          3287500000
TELUGU DESAM PARTY                                          2115800000
SHIVSENA                                                    1524514000
RASHTRIYA JANTA DAL                                          725000000
AAM AADMI PARTY                                              652500000
JANATA DAL ( SECULAR )                                       410000000
SIKKIM KRANTIKARI MORCHA                                     365000000
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH               285000000
JANASENA PARTY                                               210000000
ADYAKSHA SAMAJVADI PARTY                                     132100000
JHARKHAND MUKTI MORCHA                                       125000000
BIHAR PRADESH JANTA DAL(UNITED)                              120000000
SHIROMANI AKALI DAL                                           72600000
SIKKIM DEMOCRATIC FRONT                                       55000000
MAHARASHTRAWADI GOMNTAK PARTY                                  5500000
JAMMU AND KASHMIR NATIONAL CONFERENCE                          5000000
GOA FORWARD PARTY                                              3500000